body {
    height: 100vh;
    background-color: #06061B;
    display: grid;
    place-items: center;
    overflow: hidden;
   
}



.text{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    top: 10%;
    left: 10%;
}

.small-imgs{
    width: 20vmin;
    height: 20vmin;
    left: 50%;
    top: 40%;
} 

.container, .center-img, .behind{
    width: 70vmin;
    height: 52vmin;
    left: 35%;
    top: 25%;
}

.imgs{
    position: absolute;
    border-radius: 20px;
    transition: transform cubic-bezier(0,1.13,.93,.98) 1s;
}

.imgs:nth-child(1){
    background-image: url("images/susie.jpeg");
    background-size: cover;
    background-position: center 70%;
    z-index: 7;
}

.imgs:nth-child(2){
    background-image: url("images/concert.jpeg");
    background-size: cover;
    background-position: center 70%;
    z-index: 8;
   
}

.imgs:nth-child(3){
    background-color: rgba(25, 25, 112, 0.8);
    opacity: 1;
    transform: translate(5%, -5%);
    z-index: 6;
    
}

.imgs:nth-child(4){
    background-image: url("images/street.jpeg");
    background-size: cover;
    background-position: center 70%;
    z-index: 5;
}

.imgs:nth-child(5){
    background-color: rgba(25, 25, 110, 0.6);
    opacity: 0.6;
    transform: translate(10%, -10%);
    z-index: 4;
}

.imgs:nth-child(6){
    background-color: rgba(25, 25, 108, 0.4);
    opacity: 0.4;
    transform: translate(15%, -15%);
    z-index: 3;
}

.imgs:nth-child(7){
    background-image: url("images/jukebox.jpeg");
    background-size: cover;
    background-position: center 70%;
    z-index: 2;
}

.imgs:nth-child(8){
    background-image: url("images/park.jpeg");
    background-size: cover;
    background-position: center 70%;
    z-index: 1;
}

.container:hover > .imgs:nth-child(3){
    transform: translate(10%, -10%) ;
}

.container:hover > .imgs:nth-child(5){
    transform: translate(20%, -20%) ;
}

.container:hover > .imgs:nth-child(6){
    transform: translate(30%, -30%) ;
}

.container:hover > .imgs:nth-child(1){
    transform: translate(-200%, 180%) rotate(-10deg);
}

.container:hover > .imgs:nth-child(4){
    transform: translate(-120%, -180%) rotate(-5deg);
}

.container:hover > .imgs:nth-child(7){
    transform: translate(300%, -140%) rotate(5deg);
}

.container:hover > .imgs:nth-child(8){
    transform: translate(190%, 130%) rotate(8deg);
}

